name: Deploy Traefik e App
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: deployer
          key: ${{ secrets.SSH_KEY }} # Chave privada salva no GitHub Secrets
          script: |
            # Organização por domínio
            mkdir -p ~/mercadomaranataipi.com.br
            cd ~/mercadomaranataipi.com.br

            # Clone inicial ou Update do código
            if [ ! -d ".git" ]; then
              git clone git@github.com:EnriqueSena1/deploy-com-traefik.git .
            else
              git pull origin main
            fi

            # Sobe a Infraestrutura (Traefik)
            cd infra && docker compose up -d
            
            # Sobe a Aplicação de Exemplo
            cd ../app-exemplo && docker compose up -d --build